<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmallBusiness</title>
    <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--font awesome-->
    <script src="https://kit.fontawesome.com/cce4d0df7e.js" crossorigin="anonymous"></script>
</head>
<style>
    footer {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        background-color: black;
        color: white;
        margin-top: 70px;
    }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Agency</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
              </ul>
              <span class="navbar-text">
                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Resources">Docs</a>
              </span>
            </div>
          </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center">
        <div class="container">
            &copy; 2021 - SmallBusiness - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
