@{
    ViewData["Title"] = "About Agencies";
}

<div class="container mt-5">
    <br /><br /><br />
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <!--short detail message-->
    <p class="lead text-center">Use this page to detail your site's agency.</p>
    <!--image of company-->
    <div class="jumbotron text-center">
        <img 
            src="https://images.unsplash.com/photo-1560179707-f14e90ef3623?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" 
            style="max-height: 350px;" 
            alt="pic" 
            class="img-fluid" />
    </div>
    <!--about text-->
    <br /><br />
    <h4>MarkUps</h4>
    <hr />
    <br />
    <p class="lead">
        Since 1998 we have made customers service our number one priority and make 
        each and every interaction our superior goal. After winning 10 Stevie Awards,
        and #1 in customer satisfaction, we always take our customer reviews seriously.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
        in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
