@{
    ViewData["Title"] = "Contact Us";
}

<div class="container mt-5 mb-5">
    <br /><br /><br />
    <h1 class="display-4">@ViewData["Title"]</h1>
    <small>Support:</small> <a href="#"><i class="far fa-envelope"></i></a> <br />
    <small>Manager:</small> <a href="#"><i class="far fa-envelope"></i></a> <br />
    <small>Accounts:</small> <a href="#"><i class="far fa-envelope"></i></a>
    <br /><br />
    <form>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Your Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Your Email</label>
          <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Your Message</label>
          <textarea rows="4" cols="8" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder"></textarea>
        </div>
        <button class="btn btn-primary form-control">SEND</button>
    </form>
    
</div>
