@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel intro-bg slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item text-info text-center active">
      <h1 class="display-2">Intro Title</h1>
      <p class="lead">
          Made for music and with dynamic content using asp.Net Core and MongoDB
      </p>
      <a href="#" class="btn-info btn">LEARN MORE</a>
    </div>
    <div class="carousel-item text-info text-center">
      <h1 class="display-4">Intro Title</h1>
      <p class="lead">
          Made for music and with dynamic content using asp.Net Core and MongoDB
      </p>
      <a href="#" class="btn-info btn">LEARN MORE</a>
    </div>
    <div class="carousel-item text-info text-center">
      <h1 class="display-4">Intro Title</h1>
      <p class="lead">
          Made for music and with dynamic content using asp.Net Core and MongoDB
      </p>
      <a href="#" class="btn-info btn">LEARN MORE</a>
    </div>
  </div>
</div>

<div class="container text-center mt-5 mb-5">
    <div class="jumbotron card">
        <h1 class="display-4">Follow Us</h1>
        <div class="text-center">
            <i class="fab icon fa-facebook"></i>
            <i class="fab icon fa-twitter"></i>
            <i class="fab icon fa-github"></i>
            <i class="fab icon fa-snapchat-ghost"></i>
        </div>
        <p class="lead">
            Most common way to find new business or to get the word out is to be 
            on social media. There advertising available there as well, and having 
            a landing pag esuch as this one can quickly brand you.
        </p>
    </div>
</div>

<div class="text-center container mt-5">
    <h1 class="display-4">Features</h1>
    <div class="row">
        <div class="col-md mt-3">
            <img 
                src="https://images.unsplash.com/photo-1483546363825-7ebf25fb7513?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" 
                alt="img" 
                class="img-fluid" />
        </div>
        <div class="col-md mt-3">
            <h2>Articles</h2>
            <hr style="width: 300px; margin-left: auto; margin-right: auto;" />
            <p class="lead">
                This app was created with asp.Net Core with 
                MVC, and Bootstrap content for layouts.
                Content and anything related to this article 
                can fit in here. There could be a related 
                image or a recent blog post. Talk about your 
                business or talk about you can do for them.
            </p>
            <button class="btn btn-outline-primary">INQUIRE</button>
        </div>
    </div>
</div>

<div class="container text-center mt-5 mb-5">
    <br /> 
    <h1 class="display-4">Services Offered</h1>
    <br />
    <div class="row">
        <div class="col-md-4 mt-3">
            <i class="fas icon fa-question"></i>
            <br />
            <h3>Direct Support</h3>
        </div>
        <div class="col-md-4 mt-3">
            <i class="fas icon fa-calendar"></i>
            <br />
            <h3>Schedule Sessions</h3>
        </div>
        <div class="col-md-4 mt-3">
            <i class="fas icon fa-download"></i>
            <br />
            <h3>Donwload Files</h3>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <br />
    <form>
        <h1 class="display-4">Subscribe To Newsletters</h1>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Name</label>
          <input type="text" required class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Email</label>
          <input type="email" required class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>