@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container text-center mt-5">
    <br /><br /><br />
    <h1>@ViewData["Title"]</h1>
    <br /><br />
    <p class="lead">
        Lorem ipsum dolor sit amet, pro modus mucius regione et. At augue nominati instructior est, mel ceteros voluptatum ut. Quo at postea option singulis, commodo luptatum inciderint an pri. Consul democritum sit id. Mea ne quaeque blandit, at elitr semper duo.

        Altera vulputate ne mel. In magna intellegam pri, id his assum labores, sonet singulis interpretaris sea ea. Quo purto appetere id. Ius prodesset inciderint adversarium ea. Cum appareat mandamus ex, ex mutat interpretaris usu.

        An vis luptatum constituto, sed habeo fierent adversarium ne, moderatius constituam an est. An duo commune indoctum democritum, ius no clita quaestio aliquando. Dolorem vivendum detraxit pro eu, eu habeo offendit scripserit nec, est ei vidisse recusabo eleifend. Sea lorem definitiones an, brute nullam pro no. Omnesque deseruisse definitiones eos ut, dicant option reprehendunt et mea.

        Labitur impedit mel no, mediocrem expetendis has an, graece officiis mel ne. Pri purto accusamus te, cum agam dictas ponderum te, liber honestatis contentiones pri te. Sea at debet labore persecuti, id vel ullum prodesset democritum, ut tota fabulas utroque ius. Mel cu tamquam fabulas placerat.

        Ea mea oportere vituperata. Mel no dicit maiorum mediocrem. Equidem noluisse appellantur mel no, est alii minim postulant no, facer congue vituperata at eam. Pro ex assum commune.
    </p>
</div>
